/*@autocompile*/
body {
    font-family: 'DejaVu Sans', Verdana, Tahoma, Arial, sans-serif;
    padding-top: 60px;
    font-size: 13px;
    padding-bottom: 40px;
}
.navbar .brand {
    font-family: 'Squada One', cursive;
    font-size: 2em;
    text-shadow: black 1px 1px 2px, white 0 0 1em;
    padding: 9px 20px 5px;
}
.navbar .brand .cmf-logo-cl {
    color: #800000;
}
.navbar .nav .nav-header {
    display: none;
}
.sidebar-nav {
    padding: 9px 0;
}
